.contact-form {
  max-width: 560px;
  font-family: "Work Sans";
  margin-top: 1em;
  padding-top: 1.5em;
}

label {
  position: relative;
}
label > textarea,
label > input {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3f51b525;
  // background: #fff;
  border-radius: 0;
  outline: none;
  height: 45px;
  width: calc(100% - 1em);
  font-size: 16px;
  margin: 0.25em 0 15px 0;
  padding: 0 0 0 1em;
  box-sizing: border-box;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 175ms;
}

label > input + span,
.hasText + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
}

// label > input:valid {
//   // border-bottom: 1px dotted #3f51b5;
//   box-shadow: 0 1px 0 0 #3f51b5;
// }

label > span {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  cursor: text;
  transition: 0.2s ease-out;
  padding-left: 1em;

}

label > input:focus + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
  color: #3f51b5;
}

label > input:focus {
  border-bottom: 1px solid #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 15px;
  border-radius: 2px;
  font-size: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #283a7d;

  // svg {
  //   vertical-align: top;
  //   width: 1.5rem;
  //   transform: scale(0.8);
  //   vertical-align: bottom;
  //   margin-bottom: -2px;
  // }
  > span {
    vertical-align: top;
    margin-top: 4px;
    display: inline-block;
  }
}

/* Ripple magic */
button {
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
