.donation-goal {
    max-width: 80%;
    margin: 2em auto;
    font-family: "Space mono";
    border: 1px solid #293a7d;
    padding: 3em;
    .donation-bar {
        margin: 2em 0;
        position: relative;
        background-color: powderblue;
        > h2 {
            position: absolute;
            right: 0;
            top:0;
            margin: 0.66em;
        }
        > .donation-indicator {
            background-color: blue;
            text-align: right;
            color: #fff;
            padding: 2em;
            box-sizing: border-box;
        }
    }
    .small-text {
        font-size: 0.8rem;
        opacity: 0.6;
        margin-top: 0.5em;
    }
    @media screen and (max-width: 768px) {
        padding: 2em;
        max-width: 90%;

        .donation-bar {
            > h2 {
                font-size: 1rem;
                top: 0.8em;
            }
        }
    }
}