section.supporters {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  padding: 1rem 4rem 3rem 4rem;
  max-width: 900px;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

    li img {
      max-width: 100px;
    }
  }
}
@media (max-width: 768px) {
  section.supporters {
    max-width: 100%!important;
    ul {
      display: initial!important;
      > li {
        text-align: center;
      }
    }
  }
}
