.partnerships-container {
    padding-top: 2em;
    .partnership-header {
        text-align: center;
        max-width: 66.66%;
        margin: 2em auto;
    }
    @media screen and (max-width: 768px) {
    .partnership-header {
        max-width: 100%;
    }
    }
}
.partnership-model {
    max-width: 66.66%;
    margin: 6em auto 1em auto;
    background-color: #F2F2F2;
    > * {
        display: inline-block;
        vertical-align: top;
    }
    > div.partnership-icon {
        width: 30%;
        height: 260px;
        border-radius: 1em;
        text-align: center;
        margin: -1em 0 0 -1em;
        background-size: cover;
        > * {
            font-family: "Space Mono";
            color: #fff;
            font-size: 2.7rem;
            margin-top: 2.3em;
            margin-bottom: 0;
        }
    }
    > section {
        width: 70%;
        padding: 2em 2em 1em 2em;

        > ul {
            max-width: 80%;
            margin-top: 1em;
            font-family: "Space Mono";
            font-size: 0.8rem;
            line-height: 1.5rem;
            > li {
                background-color: #fff;
                border-radius: 2px;
                padding: 0.5em 1em;
                border: 1px solid #ccc;
                margin-bottom: 0.5em;
                display: inline-block;
            }
        }
    }
    .partnership-cta-btn {
        background-color: #293a7d;
        color: #fff;
        margin-top: 0.66em;
        padding: 0.66em 1em;
        font-family: "Space Mono";
        border:none;
    }
    .partnership-price {
        margin-top: 1em;
        > h4 {
            color: #000;
            opacity: 0.5;
        }
        > h2 {
            margin: 0;
        }
    }
    @media screen and (max-width:768px) {
        max-width: 100%;
        margin: 0;

    > div.partnership-icon {
        width: 80%;
    }
    > section {
        width: 100%;
        margin-bottom: 2em;

        > ul {
            max-width: 100%;
            margin-top:0;
        }
    }
    }
}