h2 {
  text-align: center;
  margin-top: 0;
}
.modal {
  margin-top: 3em;
  background-color: #fff;
  z-index: 9999;

  padding: 0 13em;
  box-sizing: border-box;

  > .next-module {
    border: 2px solid #293a7d;
  }
}

.curriculum {
  clear: both;
  overflow: hidden;
  line-height: initial;
  margin-bottom: 1em;
  padding: 2em;
  @media screen and (min-width: 800px) and (max-width: 1300px) {
    padding: 0.5em;
  }
  ul {
    position: relative;
    margin-right: 16%;
    > li {
      transform: scale(0.98);
      background-color: #293a7d;
      display: inline-block;
      vertical-align: top;
      width: calc(20% - 0.1em);
      text-align: center;
      padding: 2.25em 0 5em 0;
      transition: 375ms;
      cursor: pointer;
      overflow: hidden;
      height: 30vh;
      font-size: initial;
      $base-color: #293a7d;
      $bxase-color: #394fa7;

      @for $i from 1 through 11 {
        &:nth-child(11n + #{$i}) {
          background-color: lighten($base-color, $i * 1%);
        }
      }
      @media screen and (min-width: 1000px) and (max-width: 1300px) {
      }

      &:hover {
        > h2 {
          transform: scale(1.5);
        }
        > h3 {
          transform: scale(1.1);
        }
        > h4 {
          transform: translateY(30%);
        }
      }

      &:last-child {
        position: absolute;
        top: -2px;
        height: 60.5vh;
        padding-top: 8.66em;
      }
   

      > h2 {
        opacity: 0.09;
        font-size: 8rem;
        line-height: 9rem;
        margin-bottom: -0.75em;
        color: #fff;
        transition: 375ms;
      }
      > h3 {
        font-size: 1.25rem;
        color: #fff;
        transition: 375ms;
      }
      > h4 {
        font-size: 1rem;
        font-weight: 100;
        color: #fff;
        transition: 375ms;
      }

      @media screen and (max-width: 900px) {
        > h3 {
          font-size: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  .curriculum {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    > h2 {
      margin-bottom: 1em;
    }
    > ul {
      margin: 0;
      > li {
        width: 50%;
        margin: 0;
        position: initial !important;
        top: initial !important;
        height: initial !important;

        &:nth-child(11n + 10) {
          > h2 {
            margin-top: 0.45em;
          }
        }

        &:last-child {
          width: 100%;
          padding-top: 2.5em !important;
          padding-bottom: 5em !important;
        }
        > h2 {
          margin-top: 0.2em;
          font-size: 7.5rem;
          line-height: 7.5rem;
          margin-bottom: -0.6em;
        }
        > h3 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
