$primary-color: #293a7d;

.items {
  display: flex;
  align-items: center;
  justify-content: center;

  

  @media (max-width: 768px) {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 12px 0 0;
    display: flex;

    li {
      padding: 0 0.5rem;

      a {
        // color: $primary-color;
        color: #000;
        opacity: 0.66;
        // color: #fff;
        // font-weight: bold !important;
        font-size: 1rem !important;
        // font-family: 'Work Sans', sans-serif !important;
        text-decoration: none;

        font-family: "Space Mono";
        letter-spacing: 0.2em;
        font-weight: 800;
        transition: 500ms;

        &:hover,
        &:active {
          opacity: 1;
          color: $primary-color;
          text-decoration: underline;
        }
        &.donate {
          // background-color: $primary-color;
          background-color: #fd9240;
          color:  $primary-color;
          padding: 0.7rem 2em;
          opacity: 1;
        }
      }
      &.active > a {
        text-decoration: underline;
      }
    }
  }
}
