.next-class-deadline {
    background-color: #293a7d;
    font-family:"Space Mono";
    overflow: auto;
    > div.class-details > div,
    > * {
        display: inline-block;
        vertical-align: top;
        color: #fff;
        padding: 1em;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 768px) {
    .next-class-deadline {
        text-align: center;
    }
    .class-number {
        font-size: 0.8rem;
    }
    .class-number + div {
        font-weight: 600;
        font-size: 1.2rem;
    }
    .class-deadline {
        display: block!important;
    }
    .class-deadline > span {
        font-size: 2rem;
        margin-top: 0.5em;
        display: block;
    }
}