.cover-content-container {
    height: initial;
    background-image: url("/static/images/hyf_2019-02-17-02398.jpg");
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    .content {
        width: 66.66%;
        margin-left:33.33%;
        display: inline-block;
        vertical-align: top;
        background-color: #f1f1f1;
        padding-left: 2em;
        box-sizing: border-box;
    }
}
#headstart {
    padding: 0em 0;
    background-size: auto 200%;
    background-position: right top;
    > article {
        background-color: #293a7d;
        padding: 2em;
        padding-left: 10%;
        margin-left:initial;
        color: #fff;

    }
    a {
        color: #fff!important;
    }
}
@media screen and (max-width:768px) {
    .cover-content-container {
        padding-top: 25em;
        background-size: contain;
        .content {
            padding: 1em!important;
            display: block;
            width: 100%;
            margin-left: 0;
        }
    }
}