section.sponsors {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem 4rem 3rem 4rem;
  // max-width: 900px;
  text-align: center;
  margin: 0 auto;
  background: #e6e6e6;

  h2 {
    margin-bottom: 1em;
  }

  img {
    width: 70%;
    margin: 0 auto;
    max-width: 700px;
  }
  @media screen and (max-width:768px) {
    background-color: #fff;
    img {
      width: 100%;
    }
  }
}
