section.hire-container {
    // padding: 1rem 4rem 3rem 4rem;
    // margin: 2rem auto;
    // max-width: 900px;
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 2.2rem;
    position: relative;

    .hire-cover {
      background-image: url("/static/images/IMG_4538.JPG");
      height: 40vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
    }
  
    .hire-header {
      margin-top: -2em;

      .hire-header-content {
        display: inline-block;
        padding: 2em;
        box-sizing: border-box;
        vertical-align: top;
        width:33.33%;
        background: #f4f4f4;
      }
    }

    @media screen and (max-width:768px) {
      .hire-header {
        .hire-header-content {
          width: 100%;
        }
      }
    }
}
section > div {
  // padding: 1rem 4rem 3rem 4rem;
  // margin: 2rem auto;
  // max-width: 900px;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 1rem 5vw;
    margin: 0;
    font-size: 1rem;
    line-height: 2.2rem;
    box-shadow: none;
  }

  .team-members {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  button.filter {
    margin: 0.2em;
    border: none;
    padding: 8px 12px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(29, 22, 24, 0.2);
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Space Mono", monospace;
    &:first-letter {
      text-transform: capitalize;
    }
    &:hover {
      background-color: #fff;
    }

    &:active,
    &.active {
      background-color: rgb(126, 126, 126);
      color: white;
    }

    @media (max-width: 519px) {
      padding: 12px 16px;
      margin: 0.4rem 0.6rem 0.4rem 0;
    }
  }

  .no-results {
    margin: 0 0 1rem 1rem;
  }

  .filters {
    background-color: #f4f4f4;
    padding: 1rem 4rem 3rem 4rem;
    margin: 24px 0 24px;
    width:66.66%;
    display: inline-block;
    vertical-align: top;

    

    p {
      margin-top: 12px;
    }

    @media screen and (max-width: 800px) {
      padding: 1rem 5vw;
      width: 100%;

      button {
        font-size: 0.8rem;
      }
    }
  }
}
