section.video-highlight {
  padding: 1rem 4rem 3rem 4rem;
  margin: 2rem auto;
  max-width: 80%;
  // max-width: 900px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  position: relative;

  @media screen and (max-width: 800px) {
    max-width: 100%;
    text-align: center;

    p {
      padding:0!important;
    }
  }

  > div {
    background-color: #efefef;
  }
  > div > iframe {
    margin-top: -2em;
    margin-right: -1em;
    }

  @media (max-width: 768px) {
    padding: 1rem 5vw;
    margin: 0;
    font-size: 1rem;
    line-height: 2.2rem;
    background-color: #eee;
    box-shadow: none;
  }

  > .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 800px) {
      flex-direction: row;
    }

    iframe {
      width: 100%;

      @media screen and (min-width: 800px) {
        width: 400px;
        flex-shrink: 0;
      }

      @media screen and (min-width: 1000px) {
        width: 500px;
      }

      @media screen and (min-width: 900px) {
        width: 600px;
      }
    }

    p {
      // padding: 1rem 1rem 1rem 0;
      padding: 2em;
      flex-shrink: 1;
      font-family: "Space Mono", monospace;
    }
  }

 

}
