.donate-header {
    background-image: url("/static/images/donate_cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 20%;
    width: 100%;
}