.sponsor-split {
    margin-top: 2em;
    background-image: url("/static/images/about_sponsor.jpg");
    background-position: top left;
    background-size: 55%;
    background-repeat: no-repeat; 
    padding-left: 30%;
    background-color: #f3f3f3;

    > section {
        background: #f3f3f3;

        &.partners {
            padding: 0;
            max-width: 100%;
            > ul {
                max-width: 100%;
            }
        }
    }

    @media screen and (min-width:769px) and (max-width:1025px) {
        background-size: 80%!important;
    }

    @media screen and (max-width:768px) {
        padding: 18em 0 0 0;
        background-size: 100%;
        background-position: center top;
    }
}