.sponsor-split {
    margin-top: 8em;
    // background-image: url("http://images.ctfassets.net/ljpkryr3szrz/4b3zr1p3XSmpKTwbuydew9/1d2db6112cb0464c63b2a8c4521d0356/frontpage_3.jpg");
    background-image: url("/static/images/about_sponsor.jpg");
    background-position: top left;
    // background-position: -50vw center;
    background-size: 40%;
    background-repeat: no-repeat; 
    padding-left: 33.33%;
    background-color: #f3f3f3;

    @media screen and (max-width:768px) {
        padding: 18em 0 0 0;
        background-size: 100%;
        background-position: center top;
        
    }
}